<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
                           http://www.springframework.org/schema/beans/spring-beans.xsd  
                           http://www.springframework.org/schema/context  
                           http://www.springframework.org/schema/context/spring-context.xsd  
                           http://www.springframework.org/schema/mvc  
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd  
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- provide support for component scanning -->
    <context:component-scan base-package="employeeApp" />
     <context:component-scan base-package="employeeApp.service.EmployeeServiceImp" />

    <tx:annotation-driven/>

    <!-- spring mvc view resolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>    

    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/employee_db"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <!-- hibernate session factory -->
    <bean id="factory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">

        <!-- datasource reference -->
        <property name="dataSource" ref="ds"/>

        <!-- hibernate properties -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            </props>
        </property>

        <!-- specify annotated entity classes -->
        <property name="annotatedClasses">
            <list>
                <value>employeeApp.model.Employee</value>
                <value>employeeApp.model.Department</value>
                <!-- add other entity classes as needed -->
            </list>
        </property>
    </bean>

    <!-- hibernate transaction manager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="factory"/>
    </bean>

    <!-- hibernate template bean -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="factory"/>
    </bean>
    
</beans>
